<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/"> <strong>WallSplash</strong> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/wallpapers/explore">Explore</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/wallpapers/add">Add</a>
                </li>
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<span class="pagename" id="about"></span>

<div class="container-fluid"
    style="background-image: url(/images/bg.svg); background-size: cover; background-position-x: center;">
    <div class="row justify-content-center">
        <div class="col-7" style="padding-top: 6%; padding-bottom: 50px;">
            <h1 style="text-align: center; color: rgb(116, 45, 45);">
                WallSplash
            </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-7" style="padding-bottom: 50px;">
            <h4 style="text-align: center; color: rgb(247, 220, 220); margin-bottom: 1px;">
                A fullstack web app built using Sails + Node.js.
            </h4>
            <br>
            <h4 style="text-align: center; color: rgb(247, 220, 220);">
                Frontend designed using Muuri.js and Bootstrap
            </h4>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 style="text-align: center; color: rgb(247, 220, 220);">
                Roshan Daivajna
            </h3>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>