<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/"> <strong>WallSplash</strong> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/wallpapers/explore">Explore</a>
                </li>
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="/wallpapers/add">Add</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<span class="pagename" id="add"></span>

<div class="container-fluid"
    style="background-image: url(/images/bg.svg); background-size: cover; background-position-x: center;">
    <div class="row justify-content-center">
        <div class="col-7" style="padding-top: 1%; padding-bottom: 20px;">
            <h1 style="text-align: center; color: rgb(116, 45, 45);">
                Add a wallpaper.
            </h1>
        </div>
    </div>
    <form action="/wallpapers/insert" method="post">
        <div class="row justify-content-center align-content-center">
            <div class="col-5" style="padding-bottom: 10px; padding-top: 37px; text-align: center;">
                <div class="form-group">
                    <!-- <label for="title">Title</label> -->
                    <input type="text" name="title" class="form-control" id="title" placeholder="Title"
                        aria-describedby="imageTitle">
                </div>
                <div class="form-group">
                    <!-- <label for="category">Category</label> -->
                    <select class="form-control" name="category" id="category">
                        <option value="" selected="" disabled>Please Select Category</option>
                        <option value="nature">Nature</option>
                        <option value="futuristic">Futuristic</option>
                        <option value="space">Space</option>
                        <option value="architecture">Architecture</option>
                    </select>
                </div>
                <div class="form-group">
                    <!-- <label for="url">Url</label> -->
                    <input type="text" name="url" class="form-control" id="url" placeholder="URL"
                        aria-describedby="imageUrl">
                </div>
                <button class="btn btn-large btn-outline-primary"
                    onmouseover="this.style.backgroundColor = '#eb6864'; this.style.borderColor = 'white';"
                    onmouseout="this.style.backgroundColor = 'white'; this.style.borderColor = '#eb6864';"
                    style="background-color: white;" onclick="
                        let img = document.querySelector('img');
                        img.style.display = 'flex';
                        img.src = document.querySelector('input#url').value;
                        document.querySelector('.grid-item').classList.add(document.querySelector('select#category').value.toLowerCase()); 
                        document.querySelector('.grid-card-title').textContent = document.querySelector('input#title').value; 
                        return false;">
                    Load Image</button>
            </div>
            <div class="col-4">
                <div class="grid-item" style="height: 16rem; width: 25rem; margin-top: 0px; margin-bottom: 0px;">
                    <div class="grid-item-content">
                        <div class="grid-card">
                            <img src="" alt="" class="grid-card-image" style="display: none;">
                            <div class="grid-card-title"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5" style="padding-top: 20px; padding-bottom: 50px; text-align: center;">
                <button type="submit" class="btn btn-large btn-outline-primary"
                    onmouseover="this.style.backgroundColor = '#eb6864'; this.style.borderColor = 'white';"
                    onmouseout="this.style.backgroundColor = 'white'; this.style.borderColor = '#eb6864';"
                    style="background-color: white;">Submit</button>
            </div>
        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>