<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/"> <strong>WallSplash</strong> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="/wallpapers/explore">Explore</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/wallpapers/add">Add</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<span class="pagename" id="explore"></span>
<div aria-live="polite" aria-atomic="true" style="position: relative; margin-top: 10px;">
    <div class="toast" role="alert" data-delay="3500" style="width: 30%; height: 100px; position: absolute; top: 10%; right: 2%; background-color: #d33f3a; z-index: 2000;">
        <div class="toast-header">
            <strong class="mr-auto" style="font-size: large;">Error!</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" style="font-size: medium; color: white;">
            Could not delete wallpaper. Try again later
        </div>
    </div>
</div>

<section class="grid-demo">
    <div class="container">
        <h2 style="text-align: center; color: #d33f3a; padding-top: 15px; padding-bottom: 10px;">Explore</h2>

        <div class="demo">
            <div class="grid-controls">
                <div class="grid-control search">
                    <input class="grid-control-field search-field form-control" type="text" name="search"
                        placeholder="Search...">
                    <div class="grid-control-icon">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
                                data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
                        </svg>
                    </div>
                </div>
                <div class="grid-control filter">
                    <select class="grid-control-field filter-field form-control">
                        <option value="" selected="">All</option>
                        <option value="nature">Nature</option>
                        <option value="futuristic">Futuristic</option>
                        <option value="space">Space</option>
                        <option value="architecture">Architecture</option>
                    </select>
                    <div class="grid-control-icon">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M463.952 0H48.057C5.419 0-16.094 51.731 14.116 81.941L176 243.882V416c0 15.108 7.113 29.335 19.2 40l64 47.066c31.273 21.855 76.8 1.538 76.8-38.4V243.882L497.893 81.941C528.042 51.792 506.675 0 463.952 0zM288 224v240l-64-48V224L48 48h416L288 224z"
                                data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
                        </svg>
                    </div>
                    <div class="grid-select-arrow">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 256 512">
                            <path fill="currentColor"
                                d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"
                                data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
                        </svg>
                    </div>
                </div>
                <div class="grid-control sort">
                    <select class="grid-control-field sort-field form-control">
                        <option value="order" selected="">Drag</option>
                        <option value="title">Title (drag disabled)</option>
                        <option value="color">Category (drag disabled)</option>
                        <option value="uploadedOn">Recent (drag disabled)</option>
                    </select>
                    <div class="grid-control-icon">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M244 192h184a20 20 0 0 0 20-20V52a20 20 0 0 0-20-20H244a20 20 0 0 0-20 20v120a20 20 0 0 0 20 20zm28-112h128v64H272zm212 176H252a28 28 0 0 0-28 28v168a28 28 0 0 0 28 28h232a28 28 0 0 0 28-28V284a28 28 0 0 0-28-28zm-20 176H272V304h192zm-300-48h-44V48a16 16 0 0 0-16-16H88a16 16 0 0 0-16 16v336H28a12 12 0 0 0-8.73 20.24l68 72a12 12 0 0 0 17.44 0l68-72A12 12 0 0 0 164 384z"
                                data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
                        </svg>
                    </div>
                    <div class="grid-select-arrow">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 256 512">
                            <path fill="currentColor"
                                d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"
                                data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
                        </svg>
                    </div>
                </div>
                <div class="grid-control layout">
                    <select class="grid-control-field layout-field form-control">
                        <option value="left-top" selected="">Left Top</option>
                        <option value="left-top-fillgaps">Left Top (fill gaps)</option>
                        <option value="right-top">Right Top</option>
                        <option value="right-top-fillgaps">Right Top (fill gaps)</option>
                        <option value="left-bottom">Left Bottom</option>
                        <option value="left-bottom-fillgaps">Left Bottom (fill gaps)</option>
                        <option value="right-bottom">Right Bottom</option>
                        <option value="right-bottom-fillgaps">Right Bottom (fill gaps)</option>
                    </select>
                    <div class="grid-control-icon">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M480 0H32A32 32 0 0 0 0 32v448a32 32 0 0 0 32 32h448a32 32 0 0 0 32-32V32a32 32 0 0 0-32-32zm-16 464H48V48h416zm-48-48V256H256v160zM256 96H96v160h160z"
                                data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
                        </svg>
                    </div>
                    <div class="grid-select-arrow">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 256 512">
                            <path fill="currentColor"
                                d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"
                                data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="grid muuri drag-enabled" style="height: 240px;">
            </div>

            <% wallpapers.forEach(function (wallpaper) { %>
            <data title="<%= wallpaper.title %>" image="<%= wallpaper.image %>" category="<%= wallpaper.category %>"
                uploadedOn="<%= wallpaper.uploadedOn %>" id="<%= wallpaper.id %>"></data>
            <% }); %>
            <template class=" grid-item-template">
                <div class="grid-item">
                    <div class="grid-item-content">
                        <div class="grid-card">
                            <img src="" alt="" class="grid-card-image">
                            <div class="grid-card-title"></div>
                            <div class="grid-card-remove">
                                <svg class="board-item-action-icon icon-delete" aria-hidden="true" focusable="false"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                        d="M439.15 453.06L297.17 384l141.99-69.06c7.9-3.95 11.11-13.56 7.15-21.46L432 264.85c-3.95-7.9-13.56-11.11-21.47-7.16L224 348.41 37.47 257.69c-7.9-3.95-17.51-.75-21.47 7.16L1.69 293.48c-3.95 7.9-.75 17.51 7.15 21.46L150.83 384 8.85 453.06c-7.9 3.95-11.11 13.56-7.15 21.47l14.31 28.63c3.95 7.9 13.56 11.11 21.47 7.15L224 419.59l186.53 90.72c7.9 3.95 17.51.75 21.47-7.15l14.31-28.63c3.95-7.91.74-17.52-7.16-21.47zM150 237.28l-5.48 25.87c-2.67 12.62 5.42 24.85 16.45 24.85h126.08c11.03 0 19.12-12.23 16.45-24.85l-5.5-25.87c41.78-22.41 70-62.75 70-109.28C368 57.31 303.53 0 224 0S80 57.31 80 128c0 46.53 28.22 86.87 70 109.28zM280 112c17.65 0 32 14.35 32 32s-14.35 32-32 32-32-14.35-32-32 14.35-32 32-32zm-112 0c17.65 0 32 14.35 32 32s-14.35 32-32 32-32-14.35-32-32 14.35-32 32-32z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </template>

            <!-- <div class="grid-footer">
                <button class="grid-button add-more-items">
                    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                            data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
                    </svg>
                </button>
            </div> -->
        </div>
    </div>
</section>