<!DOCTYPE html>
<html>

<head>
  <title>Wallsplash</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/css1.bootstrap.min.css">
  <link rel="stylesheet" href="/styles/css2.grid.css">
  <link rel="stylesheet" href="/styles/css3.background.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body>
  <%- body %>

  <!--TEMPLATES-->
  
  <!--TEMPLATES END-->

  <!--SCRIPTS-->
  <script src="/js/dependencies/js1.jquery-3.5.1.min.js"></script>
  <script src="/js/dependencies/js2.bootstrap.bundle.min.js"></script>
  <script src="/js/dependencies/js3.sails.io.js"></script>
  <script src="/js/dependencies/js4.web-animations.min.js"></script>
  <script src="/js/dependencies/js5.muuri.min.js"></script>
  <script src="/js/dependencies/js6.grid.js"></script>
  <script src="/js/dependencies/js7.index.js"></script>
  <!--SCRIPTS END-->
</body>

</html>